.App {
	text-align: center;
	background-image: url('photo_2022-05-07 13.55.35.jpeg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}
.images-box {
	z-index: 1;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	transition: opacity 1s ease-out;
	opacity: 0;
}

.images-box.active {
	opacity: .7;
}

.yes-text-box__frame > * + * {
	margin-top: 4px;
}
.yes-text-box {
	z-index: 2;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 20px;
	border-radius: 20px;
	opacity: 0;
	transition: opacity 1s ease-out;
	font-weight: bold;
}

.yes-text-box.active {
	opacity: .85;
}

.text-box {
	display: flex;
    flex-direction: column;
	margin-top: auto;
	background-color: #222222;
	width: 80vw;
	height: 50vh;
	padding: 20px;
	border-radius: 8px;
	border: 1px solid #adacac;
	color: #adacac;
	font-size: 18px;
}

.text-box > * + * {
  margin-top: 8px;
}


.text-row {
	display: block;
	text-align: left;
}

.action-box {
	margin-top: 16px;
	margin-bottom: auto;
}

.btn, .btn:active {
	font-size: 1.3rem;
	outline: none;
	border: none;
	border-radius: 4px;
	padding: 8px 16px;
	cursor: pointer;
	transition: background-color .3s ease-out;
	color: white;
}

.btn + .btn {
	margin-left: 16px;
}

.yes {
	background-color: #3b653b;
}

.yes:hover {
	background-color: #284428;
}

.no {
	background-color: #804747;
}